@import 'custom';
body, html {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(../images/background.jpg)
}

.trans {
  -ms-transition: all.6s ease;
  -o-transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
}